.main
{
  height:150px;
  width: 250px;
  background: #000;
  font-size: 200px;
  font-family: "Quicksand", sans-serif;
  color: #FFF;
  text-align: center;
  padding: 0 20px;
  margin: 20px;
  display: flex;
  align-items: center;
}

h1
{
  color: yellow;
}
