<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>pyrite</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
    <h1>Home Page</h1>
    <form action = "http://localhost:5000/uploader" method = "POST"
       enctype = "multipart/form-data">
       <input type = "file" name = "file" />
       <input type = "submit"/>
    </form>

    <canvas id="pie" width="100px" height="100px"></canvas>
    <script>
    const data = {
                
        labels: ['shabaloma','shea','aigoooo'],
        datasets: [{
            label: 'My First Dataset',
            data: [{{', '.join(str(pie_data))}}],
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
        }]
    };
    var pie = new Chart("pie", {
        type: "doughnut",
        data: data,
        options: {}
    }); 
    </script>

{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}

  </body>
</html>
